*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body{
    background-color:#DDE0E4;;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
}
.form__title{
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}
.form__title h1{
    font-size: 30px;
    font-weight: 700;
}
.form__add-name{
    outline: none;
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
    background-color: #DDE0E4;;
}
.form__add-name::placeholder{
    font-size: 30px;
}
.form-todo{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: start;
    margin-bottom: 30px;
}
.form-todo__title{
    font-size: 20px;
    text-transform: uppercase;
}
.form-todo__text{
    color: gray;
    font-weight: 700;
}
.form-todo__add-text{
    outline: none;
    border-radius: 10px;
    padding:15px;
    max-width: 500px;
    width: 100%;
}
.form-todo__add-text::placeholder{
    font-weight: 500;
}
.category{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
}
.category__title{
    font-weight: 700;
    color: gray;
}
.category__radios{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.radio__business{
    padding: 20px 60px;
    border-radius: 20px;
    background-color:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.radio__business input{
    visibility: hidden;
}
.radio__business label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.radio__business label::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 40px;
    bottom: 25px;
    border:2px solid blue;
    border-radius: 50%;
}
.radio__business input:checked + label:before{
    background-color: blue;
}
.radio__business label:hover::before{
    filter: brightness(120%);
}
.radio__business input:disabled + label::before{
    filter: grayscale(100%);
}
.radio__personal{
    padding: 20px 60px;
    border-radius: 20px;
    background-color:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.radio__personal input{
    visibility: hidden;
}
.radio__personal label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.radio__personal label::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 40px;
    bottom: 25px;
    border:2px solid red;
    border-radius: 50%;
}
.radio__personal input:checked + label:before{
    background-color:red;
}
.radio__personal label:hover::before{
    filter: brightness(120%);
}
.radio__personal input:disabled + label::before{
    filter: grayscale(100%);
}
.category__button{
    padding: 15px;
    border-radius: 10px;
    background-color: blue;
    color: #ffff;
}
.todo-list__title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    background-color: #ffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;

}
.items-text_done{
    text-decoration: line-through;
    opacity: 0.5;
}
.items__radio{
    width: 12px;
    height: 12px;
    border: 2px solid blue;
    border-radius: 50%;
}
.items__radio_checked{
    background-color: blue;
}
.items__content{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.items__button-edit{
    padding:5px 10px;
    border-radius: 10px;
    background-color: orchid;
    color: #ffff;
    margin-right: 10px;
}
.items__button-delete{
    padding:5px 10px;
    border-radius: 10px;
    background-color:red;
    color: #ffff;   
}
